### **Praktikum 1**

1. Menampilkan metadata dataset secara lengkap disertai penjelasan ringkas
2. Mengolah data (data cleaning dan data manipulation)
3. Menganalisis business problem/question (minimal 5)
4. Menampilkan analisis deskriptif statistik / data outlier

In [2]:
import pandas as pd

df = pd.read_csv("Salinan cafe_sales.csv")

df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

1. Menampilkan metadata dataset secara lengkap disertai penjelasan ringkas

In [3]:
print(df.shape)

(10000, 8)

In [4]:
print("Informasi Dataset:")
print(df.info())

Informasi Dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB
None

In [5]:
print("\nStatistik Deskriptif:")
print(df.describe())

Statistik Deskriptif:
       Transaction ID   Item Quantity Price Per Unit Total Spent  \
count           10000   9667     9862           9821        9827
unique          10000     10        7              8          19
top       TXN_6170729  Juice        5            3.0         6.0
freq                1   1171     2013           2429         979

        Payment Method  Location Transaction Date
count             7421      6735             9841
unique               5         4              367
top     Digital Wallet  Takeaway          UNKNOWN
freq              2291      3022              159

In [6]:
print("\nJumlah Nilai Unik di Setiap Kolom:")
print(df.nunique())

Jumlah Nilai Unik di Setiap Kolom:
Transaction ID      10000
Item                   10
Quantity                7
Price Per Unit          8
Total Spent            19
Payment Method          5
Location                4
Transaction Date      367
dtype: int64

In [7]:
print("\nJumlah Missing Values:")
print(df.isnull().sum())

Jumlah Missing Values:
Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

2. Mengolah data (data cleaning dan data manipulation)

In [ ]:
import pandas as pd

file_path = '/content/drive/MyDrive/Salinan cafe_sales.csv'
df = pd.read_csv(file_path)

df = df[df['Total Spent'] != 'ERROR'].copy()

df['Price Per Unit'] = pd.to_numeric(df['Price Per Unit'], errors='coerce')
df['Total Spent'] = pd.to_numeric(df['Total Spent'], errors='coerce')
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce')

df['Payment Method'] = df['Payment Method'].fillna('Unknown')
df['Location'] = df['Location'].fillna('Unknown')
df['Price Per Unit'] = df['Price Per Unit'].fillna(df['Price Per Unit'].median())

print("\nDataset setelah Data Cleaning:")
print(df.head())

In [ ]:
import pandas as pd

file_path = '/content/drive/MyDrive/Salinan cafe_sales.csv'
df = pd.read_csv(file_path)

df = df[df['Total Spent'] != 'ERROR'].copy()

df['Item'] = df['Item'].fillna('Unknown')
df['Payment Method'] = df['Payment Method'].fillna('Unknown')
df['Location'] = df['Location'].fillna('Unknown')

df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce')
df['Price Per Unit'] = pd.to_numeric(df['Price Per Unit'], errors='coerce')
df['Total Spent'] = pd.to_numeric(df['Total Spent'], errors='coerce')

df['Quantity'] = df['Quantity'].fillna(df['Quantity'].mode().iloc[0])
df['Price Per Unit'] = df['Price Per Unit'].fillna(df['Price Per Unit'].median())
df['Total Spent'] = df['Total Spent'].fillna(df['Total Spent'].median())
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], errors='coerce')

df.drop_duplicates(inplace=True)

df = df.infer_objects(copy=False)

print("\nInformasi Dataset Setelah Data Cleaning:")
print(df.info())

print("\nJumlah Missing Values Setelah Perbaikan:")
print(df.isnull().sum())

3. Menganalisis Business Problem / Questions (Minimal 5)

In [ ]:
import pandas as pd

file_path = '/content/drive/MyDrive/Salinan cafe_sales.csv'
df = pd.read_csv(file_path)

df = df[df['Total Spent'] != 'ERROR'].copy()
df['Total Spent'] = pd.to_numeric(df['Total Spent'], errors='coerce')
df['Price Per Unit'] = pd.to_numeric(df['Price Per Unit'], errors='coerce')
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce')
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], errors='coerce')

top_items = df['Item'].value_counts().head(5)
print("\nTop 5 Produk yang Paling Sering Terjual:")
print(top_items)

payment_methods = df['Payment Method'].value_counts()
print("\nMetode Pembayaran Terbanyak:")
print(payment_methods)

total_revenue = df['Total Spent'].sum()
print("\nTotal Pendapatan Keseluruhan: $", total_revenue)

top_locations = df['Location'].value_counts()
print("\nLokasi dengan Transaksi Terbanyak:")
print(top_locations)

df['Month'] = df['Transaction Date'].dt.month
monthly_sales = df.groupby('Month')['Total Spent'].sum()
print("\nPenjualan Per Bulan:")
print(monthly_sales)

4. Analisis Deskriptif Statistik & Data Outlier

In [ ]:
print("\nStatistik Deskriptif:")
print(df.info())

In [ ]:
print("\nStatistik Deskriptif:")
print(df.describe())

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(8, 5))
sns.boxplot(x=df['Total Spent'])
plt.title("Boxplot Total Spent (Mendeteksi Outlier)")
plt.show()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(12, 5))
sns.boxplot(data=df[['Total Spent', 'Price Per Unit']])
plt.title('Boxplot Total Spent & Price Per Unit')
plt.show()